
#page .header a
{
	
	    display: block;
    width: 40px;
    height: 41px;
    position: absolute;
    top: -70px;
    background: url(../images/mob-menu.png) no-repeat center;
    border-radius: 5px;
    z-index: 99999;
    right: 0;

}
#page .header{ padding:0px; display: inline;}
div#page {
    float: right;
    position: relative;
}

/* correccion */
li.demo-1.z-tab.z-first.z-first-col.z-first-row.z-active{
    /* width: 0 !important; */
    width: auto !important;
}

li.demo-1.z-tab.z-first-row, li.demo-1.z-tab.z-first-col.z-last-row, li.demo-1.z-tab.z-last.z-last-col.z-last-row {
    width: auto !important;
}

.demodemo.z-tab.z-first.z-active.z-first-col.z-first-row, 
.demodemo.z-tab.z-right.z-last-col.z-first-row, 
.demodemo.z-tab.z-first-col.z-last-row, 
.demodemo.z-tab.z-last.z-last-col.z-last-row, .demodemo.z-tab.z-first-row{
  width: 20% !important;
  margin: 0;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }